@model Nasa.DataAccess.Data.Apod.ApodImage;
@{
    ViewData["Title"] = "NASA Astronomy Picture of the Day";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Model.Title</h1>   
            <h3>@DateTime.Parse(Model.Date).ToString("dd-MM-yyyy")</h3>            
            <img src="@Model.Url" />    
            <p>@Model.Explanation</p>
        </div>
    </div>
</div>

